*{
	padding: 0;
	margin: 0;
}


#section{
	background-color: #e3f8f8;

}

/* Navigation Bar */

.navbar {
	background-color:#3fb7b6;
}

.navbar_img {
		width: 30px;
}


#navmenu {
    margin-right: 310px;
}
#navmenu a:hover{
    color: rgb(255, 174, 0);
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient( 263deg, rgb(255, 255, 255) 0%, rgba(0,212,255,1) 100% );
}


.brand_name{
	font-size: 11px;
	font-weight: bolder;
}

#navmenu li a{
	color:rgb(255, 255, 255);
    font-size: 13px;
	padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navmenu {
	padding-left: 200px;
} 


.carousel  {
	overflow: hidden;
}

form{
      padding-left: 350px;
}
.search {
	width: 130px;
	height: 20px;
	background-color: white;
	border-radius:  30px;
	display: flex;
	align-items: center;
	padding: 0px 10px 0px 10px;
}

.search > i {
	font-size: 12px;
	color: #777;
}

.search > input {
	flex: 1;
	height: 20px;
	width: 50px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;

}


/* Carousel  */
.carousel-inner{
     height: 390px;
	 padding-top: 3px;
}

.item, .carousel-inner img{
    height: 100% !important;
    width:  100% !important;
}

/* End of Navigation Bar */



/* Product Cards  */

.bg-body{
	object-fit: contain;
	width: 230px;
}

h4{
	font-size: 20px;
	font-weight: bolder;
	color: #3fb7b6;
}
.card-body img {
	object-fit: contain;
   	width: 170px;
}

.card-text.ratings {
	color: orangered;
	text-align: center;
	font-size: 7px;
	
}

.card-text, .price {
	margin: 0;
	
}
.price{
	color:#3fb7b6;
	font-weight: bolder;
}
 .card-body p {
	color: #2c4b68;
	font-size: 10px;
	font-weight: bolder;
	text-align: center;
}
.add_Icon{
	color: orangered;
	opacity: 0.8;
	font-size: 9px;
}

/* End of Product Cards */

/* Footer */

footer{
	text-align: center;
	width: 100%;
	position: relative;
	bottom: 0;
	background:#5b9ad4;
	color: white;
	padding: 50px 0 15px;
	border-top-left-radius: 125px;
	border-top-right-radius: 125px;
	font-size: 13px;
	line-height: 20px;
}
/* 
.log{
	display: flex;
	align-items: center;
} */
.social_media_icons{
	align-items: center;
}

.social_media_icons > i {
	padding: 20px;
}

h5{
	text-align: center;
}