@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.popup p {
  font-size: 1.3rem;
  margin: 30px 0 10px;
}

.popup {
  width: 400px;
  background: rgb(231, 227, 227);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-pop {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.rows {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.cancel {
  width: 150%;
  margin-top: 50px;
  padding: 10px;
  border: 0;
  outline: none;
  color: #fff;
  background: #df1313;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.log {
  width: 150%;
  margin-top: 50px;
  padding: 10px;
  border: 0;
  outline: none;
  color: #fff;
  background: #6fd649;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (max-width: 400px) {
  .popup {
    width: 300px;
  }
  .rows {
    gap: 2rem;
  }
}
