{% extends 'home/web_base.html'%}
{% block title %}HOME PAGE{% endblock %}
{% block content%}
{% load static %}

{% include 'website/corousel.html'%}

<section class="pt-3 products">
    <div class="container services">
        <h4 class="text-center"> Categories </h4>
        <!--ROW1-->
        <div class="row text-center gy-lg-1  justify-content-center justify-content-sm-center">
            {% for item in category%}
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="shadow-lg p-3 mb-2 bg-body rounded ">
                    <div class="card-body text-center">
                        <img src="{{item.image.url}}">
                        <hr>
                        <p class="card-text ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </p>
                        <p class="card-text">
                            <a href="{% url 'collection' item.slug%}">{{item.title}}</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

</section>
</div>
{% endblock%}