{% extends 'home/web_base.html'%}

{% block title %}Add to Cart{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <table class="table bg-white">
                <thead class="bg-success">
                    <tr class="text-white">
                        <th scope="col">SN</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Action</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src={{cp.product.image.url}} class="img-fluid"
                                style="height: 75px; object-fit: contain;" alt="">
                        </td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <a href="{% url 'managecart' cp.id %}?action=inc" class="btn btn-success">+</a>
                            <a href="{% url 'managecart' cp.id %}?action=dcr" class="btn btn-success">-</a>
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{% url 'managecart' cp.id %}?action=rmv"><i
                                    class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan='5' class="text-right">Total</td>
                        <td> <strong>GH¢{{cart.total}}</strong> </td>
                        {% if cart.cartproduct_set.all %}
                        <td class=""><a href="{% url 'emptycart' %}" class="btn btn-success">Empty Cart</a></td>
                        {% endif %}
                    </tr>
                    {% if cart.cartproduct_set.all %}
                    <tr>
                        <th><a href="{% url 'checkout' %}" class="btn btn-success">Check Out</a></th>
                    </tr>
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}