<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load crispy_forms_tags %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png'%}">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/Product_reviews.css'%}">
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/95a0b08006.js" crossorigin="anonymous"></script>

    <title>PRODUCT DETAILS</title>

</head>

<body>
    <nav>
        <div class=" nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo">
                <img src="{% static 'img/logo.png'%}" class="logo3" style="height: 50px; width:50px">
                <a href="#" class="logo2">Anidasoc Pa Herbal</a>
            </span>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="searchBox">
                    <div class="searchToggle">
                        <i class='bx bx-x cancel'></i>
                        <i class='bx bx-search search'></i>
                    </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">Anidosoc Pa Herbal</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="{% url 'website-home'  %}">Home</a></li>
                    <li>
                        <a href="{% url 'website-cat'%}">Category</a>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'blog' %}">blogs & post</a></li>

                    <li style="color: black;"> <a href="{% url 'mycart'  %}"><i id="icon" class="fa-solid fa-cart-plus">
                            </i></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li style="color: black">
                        <a href="{% url 'user_home' %}"><span id="text">orders</span>
                        </a>
                    </li>
                    <li style="color: black;">
                        <a href="{% url 'user-logout' %}"><i class="fas fa-power-off"></i><span id="text"></span>
                        </a>
                    </li>
                    {% else %}
                    <li style="color: black;">
                        <a href="{% url 'user-login' %}"><span id="text">Sign in</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>


        </div>
    </nav>

    <section class=" p-3 my-5" id="details">
        <div class="container-fluid d-grid gap-2 pt-3">

            <div class="container-fluid row pos py-4 pb-5 mb-5">
                <div class="col-lg-4 pe-3 pb-3">
                    <img src="{{product.image.url}}" class="img-float-start-2 rounded productimg" alt="Product Label">
                </div>
                <div class="col-lg-8">
                    <h3 class="fs-4 pb-4 fw-bold pt-3 border-bottom border-dark tex-start">
                        {{product.title}}
                    </h3>
                    <div class="row pt-1 pb-1">
                        <p class="col-sm-3 fs-5 fw-bold text-start">GH₵{{product.selling_price}}</p>
                        <p class="col-sm-5 text-end stars">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-half text-warning"></i>
                        </p>
                        <p class="col-sm-4 text-end fs-5">
                        </p>
                    </div>

                    <div class="border-bottom border-dark border-top border-dark">
                        <p class="pdetails fs-6 pt-3 pb-2">{{product.description}}
                        </p>
                        <div class="row pb-4 ms-1">
                            <button type="button" class="col-5 col-sm-4 btn btn-success"><a
                                    href="{% url 'website-add-to-cart' product.id %}"
                                    style="color: black;text-decoration: none;">Add to
                                    cart </button></a>
                        </div>
                    </div>
                    <p class="fs-6 fw-bold py-3">Category: {{product.category}}</p>
                </div>
            </div><br>
        </div>
    </section>

    <!-- ****************** MORE DETAILS COMPONENT ************************ -->
    <section id="Reviews" style="background-color: #b9e8b6;">
        <div class="bg-light ps-5">
            <span class="ms-5  border border-0 pt-2 pb-3 px-5 fs-5 fw-bold text-dark"
                style="background-color: #b9e8b6;">Reviews</span>
        </div>
        <div class="container-fluid p-5">
            <div class="fs-3 pt-2 pb-5 fw-bold ps-3">
                Review for Anidasoɔ Pa Herbal Mixture
            </div>
            <!-- REVIEWER 1 -->
            {% if reviews %}
            {% for review in reviews %}
            <div class="container-fluid row row-centered pos pb-5 mb-5">
                <div class="col-lg-3 pb-3 pe-3">
                    <img src="{{review.product.image.url}}" class="img-float rounded-circle reviewimg"
                        alt="Profile Photo">
                </div>

                <div class="col-lg-9 border-start border-dark py-4">
                    <div class="row pt-1 pb-1 ps-2">
                        <p class="col-sm-4 fs-6 fw-bold text-start">{{review.name}}</p>
                        <p class="col-sm-3 text-muted fs-6 text-end"><i>- {{review.date}}.</i></p>
                        <p class="col-sm-5 text-end stars">
                            <i class="bi bi-star-fill {% if review.rate > 4 %} text-warning {% endif %}"
                                style="float: right;"></i>
                            <i class="bi bi-star-fill {% if review.rate > 3 %} text-warning {% endif %}"
                                style="float: right;"></i>
                            <i class="bi bi-star-fill {% if review.rate > 2 %} text-warning {% endif %}"
                                style="float: right;"></i>
                            <i class="bi bi-star-fill {% if review.rate > 1 %} text-warning {% endif %}"
                                style="float: right;"></i>
                            <i class="bi bi-star-fill {% if review.rate > 2 %} text-warning {% endif %}"
                                style="float: right;"></i>
                        </p>
                        <p class="fs-6 pdetails">
                            {{review.review}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="fs-6 pdetails"> This product has no review yet
            </p>
            {% endif %}

        </div>

        <!-- ADD A REVIEW -->
        <div class="px-5 py-5">
            <h2 class="fs-2 fw-bold pb-5 text-center">
                ADD A REVIEW
            </h2>
            <div class="d-grid gap-2 col-8 mx-auto">
                <h4 class="fs-5 fw-bold mb-4">
                    Required fields are marked with <sup><i class="bi bi-asterisk text-danger asterisk"></i></sup>
                </h4>
                <p class="border-bottom border-dark"></p>
                <h4 class="fs-6 fw-bold mt-2">
                    Your rating <sup><i class="bi bi-asterisk text-danger asterisk"></i></sup>
                </h4>

            </div>
            <form class="d-grid gap-2 col-8 mx-auto" method="post" action="/review">
                {% csrf_token %}

                <input type="hidden" name="pro_id" value="{{product.id}}">
                <div class="cont">
                    <div class="star-widget">
                        <input type="radio" name="rate" id="rate-5" value="5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-4" value="4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-3" value="3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-2" value="2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-1" value="1">
                        <label for="rate-1" class="fas fa-star"></label>

                    </div>
                </div>
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label fw-bold">Full Name <sup><i
                                class="bi bi-asterisk text-danger asterisk"></i></sup></label>
                    <input type="text" class="form-control" name="name" id="exampleFormControlInput1"
                        placeholder="Enter full name here." required>
                </div>
                <div class="mb-4">
                    <label for="exampleFormControlTextarea1" class="form-label fw-bold">Your review <sup><i
                                class="bi bi-asterisk text-danger asterisk"></i></sup></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="review" rows="5"
                        placeholder="Leave your review here." required></textarea>
                </div>

                <div class="mb-4 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Save my name and email for future
                        reviews.</label>
                </div>
                <div class="pb-5 mb-5">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
    <script>

        const body = document.querySelector("body"),
            nav = document.querySelector("nav"),
            modeToggle = document.querySelector(".dark-light"),
            searchToggle = document.querySelector(".searchToggle"),
            sidebarOpen = document.querySelector(".sidebarOpen"),
            siderbarClose = document.querySelector(".siderbarClose");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark-mode") {
            body.classList.add("dark");
        }

        // js code to toggle dark and light mode
        modeToggle.addEventListener("click", () => {
            modeToggle.classList.toggle("active");
            body.classList.toggle("dark");

            // js code to keep user selected mode even page refresh or file reopen
            if (!body.classList.contains("dark")) {
                localStorage.setItem("mode", "light-mode");
            } else {
                localStorage.setItem("mode", "dark-mode");
            }
        });

        // js code to toggle search box
        searchToggle.addEventListener("click", () => {
            searchToggle.classList.toggle("active");
        });


        //   js code to toggle sidebar
        sidebarOpen.addEventListener("click", () => {
            nav.classList.add("active");
        });

        body.addEventListener("click", e => {
            let clickedElm = e.target;

            if (!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")) {
                nav.classList.remove("active");
            }
        });

    </script>
    <!-- Footer -->
    <footer style="background-color: #95e885;">

        <div class="logo">
            <img src="{% static 'img/logo.png'%}" class="navbar_img">
            <p> ANIDASOC PA HERBAL </p>
        </div>

        <div class="social_media_icons pt-2 mb-5">
            <a href=""><i class="bi bi-facebook media_icons text-white"></i></a>
            <a href=""><i class="bi bi-instagram px-3 media_icons text-white"></i></a>
            <a href=""><i class="bi bi-twitter media_icons text-white"></i></a>

        </div>
    </footer>



    <!-- Bootstap Js
         -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>