{% extends 'home/base.html'%}
{% block title %}BLOG PAGE{% endblock %}
{% block content%}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row my-4">
        <div class="col-md-6">
            <div class="border bg-white p-3">
                <h4 class="text-success text-center">Add Blog</h4>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input class="btn  btn-block text-white" type="submit" value="Post" style="background:  #1e6225;">
                </form>
            </div>
        </div>
    </div>

</div>
<!--End Table-->
{% endblock%}