{% extends 'home/base.html'%}
{% block title %}DASHBOARD{% endblock %}
{% block content%}
{% include 'home/card.html'%}



<!--Graphs-->

<div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for order in orders %} '{{order}}', {% endfor %}],
                    datasets: [{
                        label: 'Orders',
                        data: [{% for order in orders %} {{ order.cart.total }}, {% endfor %}],
                        backgroundColor: [
                            'rgb(56, 168, 50)',
                            'rgba(58, 209, 50)',
                            'rgba(39, 105, 36)',
                            'rgba(20, 227, 9)',
                            'rgba(18, 166, 77)',
                            'rgba(7, 245, 102)'
                        ],
                            borderColor: [
                                'rgb(56, 168, 50)',
                                'rgba(58, 209, 50)',
                                'rgba(39, 105, 36)',
                                'rgba(20, 227, 9)',
                                'rgba(18, 166, 77)',
                                'rgba(7, 245, 102)'
                            ],
                                borderWidth: 1
                    }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for product in products %} '{{product.title}}', {% endfor %}],
                    datasets: [{
                        label: 'Products',
                        data: [{% for product in products %} {{ product.cartproduct.quantity }}, {% endfor %}],
                        backgroundColor: [
                            'rgb(56, 168, 50)',
                            'rgba(58, 209, 50)',
                            'rgba(39, 105, 36)',
                            'rgba(20, 227, 9)',
                            'rgba(18, 166, 77)',
                            'rgba(7, 245, 102)'
                        ],
                            borderColor: [
                                'rgb(56, 168, 50)',
                                'rgba(58, 209, 50)',
                                'rgba(39, 105, 36)',
                                'rgba(20, 227, 9)',
                                'rgba(18, 166, 77)',
                                'rgba(7, 245, 102)'
                            ],
                                borderWidth: 1
                    }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>
    </div>

    <!--End Graphs-->

    {% endblock%}