{% extends 'home/base.html'%}
{% block title %}ORDER PAGE{% endblock %}
{% block content%}
{% include 'home/card.html'%}



<!--Table-->
<div class="container">
    <div class="row my-4">

        <div class="col-md-12">
            <table class="table bg-white">
                <thead class="" style="background:  #1e6225;">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Date</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in new_orders %}

                    <tr>
                        <th scope="row"><a class="btn btn-sm text-white" style="background:  #1e6225;"
                                href="{% url 'dashboard-order-detail' order.id %}">View</a>
                        </th>
                        <td>{{order.ordered_by}}</td>
                        <td>{{order.mobile}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.total}}</td>
                        <th>{{order.order_status}}</th>>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock%}