{% extends 'home/base.html'%}
{% block title %}PRODUCT PAGE{% endblock %}
{% block content%}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4 class="text-success">Change Password</h4>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input class="btn btn-success btn-block" type="submit" value="Change">
                </form>
            </div>
        </div>
    </div>

</div>
<!--End Table-->
{% endblock%}