{% extends 'home/base.html'%}
{% block title %}PASSWORD CHANGE{% endblock %}
{% block content%}

<div class="container my-5 ">
    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white my-5 mt-10">
                <h4 class="text-center "> PASSWORD CHANGE COMPLETE</h4>
                <hr>
                <div class="alert alert-success text-center">
                    <h5>You have successfully changed your password</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}