{% extends 'home/base.html'%}
{% block title %}USER'S PAGE{% endblock %}
{% block content%}
{% include 'home/card.html'%}


<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-12">
            <table class="table bg-white">
                <thead class="" style="background:  #1e6225;">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">username</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <th scope="row"><a class="btn  btn-sm text-white" style="background:  #1e6225;"
                                href="{% url 'dashboard-profile_detail' customer.id %}">View</a>
                        </th>
                        <td>{{customer.username}}</td>
                        <td>{{customer.profile.phone}}</td>
                        <td>{{customer.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--End Table-->
{% endblock%}