{% extends 'home/web_base.html'%}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <hr>
            <h3>Customer Login <Form></Form>
            </h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">Login</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
            <p>Forgot Password <a href="">Reset Now</a></p>
            <p>or don't have an account? <a href="{% url 'user-registration' %}
                {% if request.GET.next%}?next={{request.GET.next}}{% endif %}">Register Here</a></p>
        </div>
    </div>
</div>
{% endblock %}