<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="{% static 'css/update.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="title">Update</div>
            <div class="content">
                <form action="#" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">{{ profile_form }}</span>
                        </div>
                        <div class="input-box">
                            <span class="details">{{ user_form }}
                            </span>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>