{% extends 'home/web_base.html' %}
{% block title %}PROFILE UPDATE PAGE{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 200px;">
    <div class="row ">
        <div class="col-md-8 justify-content-center">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Customer Update Page
                </div>
                <div class="row p-3">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form|crispy }}
                        {{ profile_form|crispy }}
                        <input class="btn btn-info" type="submit" value="Update">
                        <a class="btn btn-secondary btn-sm" href="{% url 'profile' %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}